.cover_selector_item {
  height: 100px;
  border-radius: 16px;
  cursor: pointer;

  :nth-of-type(1) {
    margin-right: 8px;
  }
}

.img_item {
  border-radius: 8px;
  width: 160px;
  cursor: pointer;
  margin-bottom: 8px;

  :nth-of-type(2n + 1) {
    margin-right: 4px;
  }
}
.theme_item {
  border-radius: 8px;
  width: 160px;
  height: 90px;
  margin-bottom: 8px;
  cursor: pointer;

  :nth-of-type(2n + 1) {
    margin-right: 4px;
  }
}

.cover-theme-box {
  @apply grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 90px;
  grid-auto-rows: 90px;
  gap: 12px 16px;

  .theme {
    border-radius: 8px;
    @apply cursor-pointer;
  }
  .default-theme {
    @apply flex justify-center items-center;
    @apply bg-secondary-4;
  }
  .theme1 {
    @apply bg-theme1-header;
  }

  .theme2 {
    @apply bg-theme2-header;
  }

  .theme3 {
    @apply bg-theme3-header;
  }
}
