// font
.h2 {
  text-align: center;
}

.h3 {
  text-align: center;
}

.section {
  background: linear-gradient(143.71deg, #ff6848 21.23%, #ffbbbb 78.89%);
  position: relative;
}

.container {
  padding: 80px 40px 75px;
  position: relative;
}

.form_group {
  width: 100%;
  input {
    width: 70%;
  }
  button {
    width: calc(30% - 12px);
    max-width: 332px;
  }
}

.btn_box {
  width: calc(30% - 12px);
  margin-top: 2.5px;
}

@media (max-width: 640px) {
  .container {
    padding: 40px 12px;
  }
}
