.fake_input {
  margin-top: 6px;
  font-size: 1rem;
  color: #1a1a1a;
  background: #f9f9f9;
  padding: 0.75rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  text-align: center;
  min-height: 50px;
}

.center_input_text {
  input[type='text'] {
    text-align: center;
  }
}
// 成員
.member_item_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  cursor: pointer;
  &:hover {
    @apply bg-secondary-4;
    .member_profile {
      @apply text-secondary-3;
    }
  }
}
.member_item_left {
  display: flex;
  align-items: center;
}
