.card_title_view {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid;
}

.detail_list {
  @apply flex items-center mb-2;
}

.detail_list_add_btn {
  @apply mx-3 bg-secondary-4 text-secondary-3 border-0;
  width: 30px !important;
  height: 30px !important;
  &:hover {
    color: rgb(204, 58, 58) !important;
    background: rgb(255, 241, 241) !important;
  }
}

.icon_btn_delete {
  &:focus {
    box-shadow: none;
  }
}

.editor_preview {
  ul {
    list-style: disc;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 30px;
  }
  ol {
    list-style: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 30px;
  }
  pre {
    background-color: transparent !important;
  }
}
.editor_overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(173, 172, 172, 0.12);
}

.comment_item {
  &:hover {
    .comment_delete_btn {
      display: block;
    }
  }
  .comment_delete_btn {
    display: none;
  }
}

.loading_overlay {
  @apply absolute top-0 left-0 bottom-0 right-0 flex items-center justify-center bg-white bg-opacity-50 z-50;
}
